.navbar {
    z-index: 5;
}

.carousel,
.banner {
    height: calc(100vh - 5rem);
    overflow: hidden;
}

.sinopsis {
    height: 9rem;
    overflow: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.logoFooter {
    height: 3rem;
}

.screen {
    background-color: black;
    height: 27px;
    border-radius: 50%;
    margin-top: 150px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.reserva {
    font-weight: bold;
}

.factura {
    background-image: url('../img/factura.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    padding: 40px 45px 60px 40px;
    display: none;
    flex-wrap: wrap;
    align-content: flex-start;
}

.factura--active {
    display: flex;
}

.titleFac {
    text-align: center;
    width: 100%;
}

.dateFac {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0;
    width: 100%;
}

.datosFac {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-bottom: 0;
    width: 100%;
}

.cantidadFac {
    padding-left: 10px;
}

.sillaFac {
    text-align: right;
}

.cantidadFac,
.reservaFac,
.sillaFac {
    width: calc(100% / 3);
    margin-bottom: 0;
}

.idSillas {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.subtotalFac,
.totalFac,
.ivaFac {
    margin-bottom: 0;
    font-size: 15px;
    text-align: right;
    width: 100%;
}

.subtotal,
.total {
    font-weight: bold;
}

.btnPagar {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
}