.navbar {
    z-index: 5;
}

.carousel,
.banner {
    height: calc(100vh - 5rem);
    overflow: hidden;
}

.sinopsis {
    height: 9rem;
    overflow: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.logoFooter {
    height: 3rem;
}